<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fabicon-->
    <link rel="shortcut icon" href="../../icon/fabicon.ico">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>カメラと女子旅。おくあいづ</title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link href="../../css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <a class="navbar-brand" href="#">カメラと女子旅。おくあいづ</a>
    </nav>

    <!-- contents -->
    <div class="row">
    	<!-- slide show -->
    	<div class="col-xs-12">
        	<div class="photo-show">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		        <img src="../../picture/spring/1_carbonated_field.jpg">
		    </div>
        </div>
        <!-- comments -->
        <div class="col-xs-12">
        	<div class="course-comment">
        		<h3>春のモデルコース<small>(全長:2~3km)</small></h3>
        		<p>会津大塩駅周辺をぐるっと1週コース</p>
        	</div>
        </div>
        <!-- cards -->
        <div class="col-xs-12">
            <div class="card">
                <img class="card-img-top" src="../../picture/spring/1_carbonated_field.jpg" width="100%">
                <div class="card-block">
                    <h4 class="card-title">炭酸場</h4>
                    <p class="card-text">持ち帰りはお一人様500ｍｌペットボトル一本まででお願いしております。自然の炭酸水を飲むことができます！微炭酸で飲みやすい♪</p>
                    <a href="https://www.google.com/maps/place/%E5%A4%A7%E5%A1%A9%E5%A4%A9%E7%84%B6%E7%82%AD%E9%85%B8%E6%B0%B4+%E7%82%AD%E9%85%B8%E5%A0%B4/@37.3943718,139.4178077,16z/data=!4m12!1m6!3m5!1s0x5ff56ee845b0afa9:0x18c0bc27ccd50fed!2z5rud5rKi5aSp54S254Kt6YW45rC0!8m2!3d37.3958329!4d139.3919555!3m4!1s0x0:0xf147a04770ff5089!8m2!3d37.396018!4d139.4217637" class="btn btn-primary">地図へ</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img class="card-img-top" src="../../picture/spring/1_carbonated_field.jpg" width="100%">
                <div class="card-block">
                    <h4 class="card-title">炭酸場</h4>
                    <p class="card-text">持ち帰りはお一人様500ｍｌペットボトル一本まででお願いしております。自然の炭酸水を飲むことができます！微炭酸で飲みやすい♪</p>
                    <a href="https://www.google.com/maps/place/%E5%A4%A7%E5%A1%A9%E5%A4%A9%E7%84%B6%E7%82%AD%E9%85%B8%E6%B0%B4+%E7%82%AD%E9%85%B8%E5%A0%B4/@37.3943718,139.4178077,16z/data=!4m12!1m6!3m5!1s0x5ff56ee845b0afa9:0x18c0bc27ccd50fed!2z5rud5rKi5aSp54S254Kt6YW45rC0!8m2!3d37.3958329!4d139.3919555!3m4!1s0x0:0xf147a04770ff5089!8m2!3d37.396018!4d139.4217637" class="btn btn-primary">地図へ</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img class="card-img-top" src="../../picture/spring/1_carbonated_field.jpg" width="100%">
                <div class="card-block">
                    <h4 class="card-title">炭酸場</h4>
                    <p class="card-text">持ち帰りはお一人様500ｍｌペットボトル一本まででお願いしております。自然の炭酸水を飲むことができます！微炭酸で飲みやすい♪</p>
                    <a href="https://www.google.com/maps/place/%E5%A4%A7%E5%A1%A9%E5%A4%A9%E7%84%B6%E7%82%AD%E9%85%B8%E6%B0%B4+%E7%82%AD%E9%85%B8%E5%A0%B4/@37.3943718,139.4178077,16z/data=!4m12!1m6!3m5!1s0x5ff56ee845b0afa9:0x18c0bc27ccd50fed!2z5rud5rKi5aSp54S254Kt6YW45rC0!8m2!3d37.3958329!4d139.3919555!3m4!1s0x0:0xf147a04770ff5089!8m2!3d37.396018!4d139.4217637" class="btn btn-primary">地図へ</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="card">
                <img class="card-img-top" src="../../picture/spring/1_carbonated_field.jpg" width="100%">
                <div class="card-block">
                    <h4 class="card-title">炭酸場</h4>
                    <p class="card-text">持ち帰りはお一人様500ｍｌペットボトル一本まででお願いしております。自然の炭酸水を飲むことができます！微炭酸で飲みやすい♪</p>
                    <a href="https://www.google.com/maps/place/%E5%A4%A7%E5%A1%A9%E5%A4%A9%E7%84%B6%E7%82%AD%E9%85%B8%E6%B0%B4+%E7%82%AD%E9%85%B8%E5%A0%B4/@37.3943718,139.4178077,16z/data=!4m12!1m6!3m5!1s0x5ff56ee845b0afa9:0x18c0bc27ccd50fed!2z5rud5rKi5aSp54S254Kt6YW45rC0!8m2!3d37.3958329!4d139.3919555!3m4!1s0x0:0xf147a04770ff5089!8m2!3d37.396018!4d139.4217637" class="btn btn-primary">地図へ</a>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer">
	  <div class="container">
	    <p class="text-muted" align="center">@u-aizu.jc.jp</p>
	  </div>
	</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>